@charset "utf-8";
/* CSS Document */
*{
    margin:0px;
	padding:0px;	
	}
#header {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height:101px;
    text-align: center;
	background-color:#90b2ce;
}
#img{
	  float:left;
	  width:303px;
	  height:101px;
	  background:url(../../images/common/logo.png) no-repeat;
	  margin:25px 0 0 50px;
	}
#img_new{
	  float:left;
	  width:303px;
	  height:101px;
	  background:url(../../images/common/logo.png) no-repeat;
	  margin:25px 0 0 50px;
	}
#product {
	padding-top:10px;
    font-family:"黑体";
	font-size:24px;
	line-height:40px;
    width: 80%;
	*width: 60%;
    *margin-left: -40px!important;
}
